server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/Ecommerce
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 20000
      minimum-idle: 2
      maximum-pool-size: 10
      idle-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  application:
    name: ORDER-SERVICE